<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/Sobre.css">
    <title>Sobre</title>
</head>

<body>

    <div class="overlay"></div>

    <header>
        <nav id="cabecalho" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="Home.html">FateBrinks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Catalogo.html">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Adm.html">Administração</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Sobre.html">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main class="grid-container">
        <div class="tit">
            <h2>Equipe Desenvolvimento</h2>
            <div>


                <div class="geral">
                    <div class="card" style="width: 18rem;">
                        <img src="/imgs/deivid.jpg" class="card-img-top" alt="devid">
                        <p class="card-text">Devid Santos</p>
                        <p class="card-text">Desenvolvedor Full Stack Junior</p>
                        <button type="button" class="btn btn-primary" id="deivinho">Contato</button>
                    </div>


                    <div class="card" style="width: 18rem;">
                        <img src="/imgs/flavio.jpg" class="card-img-top" alt="flavio">
                        <p class="card-text">Flávio Antônio</p>
                        <p class="card-text">Desenvolvedor Backend Senior</p>
                        <button type="button" class="btn btn-primary" id="flavinho">Contato</button>
                    </div>


                    <div class="card" style="width: 18rem;">
                        <img src="/imgs/Gabryel.jpg" class="card-img-top" alt="gabryel">
                        <p class="card-text">Gabryel Rodrigues</p>
                        <p class="card-text">Desenvolvedor Full Stack Junior</p>
                        <button type="button" class="btn btn-primary" id="biel">Contato</button>
                    </div>
                </div>
    </main>



    <div class="model-contato" id="Devid">
        <div class="card" style="width: 18rem;">
            <img src="/imgs/deivid.jpg" class="card-img-top" alt="Deivid">
            <div class="card-body">
                <h5 class="card-title">Devid</h5>
                <p class="card-text">Um programador Junior e promissor.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Javascript</li>
                <li class="list-group-item">React</li>
                <li class="list-group-item">Python</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/Deividteck" target="_blank" class="card-link">GitHub</a>
            </div>
            <button type="button" class="btn btn-primary" id="FecharDevid">Fechar</button>
        </div>
    </div>



    <div class="model-contato" id="Flavio">
        <div class="card" style="width: 18rem;">
            <img src="/imgs/flavio.jpg" class="card-img-top" alt="Flavio">
            <div class="card-body">
                <h5 class="card-title">Flavio</h5>
                <p class="card-text">Um programador senior e especialista em sistemas web.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Python</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/flaviogbdias" target="_blank" class="card-link">GitHub</a>
               
            </div>
            <button type="button" class="btn btn-primary" id="FecharFlavio">Fechar</button>
        </div>
    </div>



    <div class="model-contato" id="Gabryel">
        <div class="card" style="width: 18rem;">
            <img src="/imgs/Gabryel.jpg" class="card-img-top" alt="Gabryel">
            <div class="card-body">
                <h5 class="card-title">Gabryel</h5>
                <p class="card-text">Um programador Junior e promissor.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Python</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/Byelsantos11" target="_blank" class="card-link">GitHub</a>
            </div>
            <button type="button" class="btn btn-primary" id="FecharGabryel">Fechar</button>
        </div>
    </div>


    <script src="/js/Sobre.js"></script>
</body>

</html>